.github/*
.vercel/*
node_modules/*
dist/*
.env
.env.local
src/.vuepress/.cache/*
src/.vuepress/.temp/*
src/.vuepress/dist/*
src/.vuepress/public/*
src/articles/*
src/*.md
.claude/*
android/.gradle/*
android/.idea/*
android/.kotlin/*
android/build/*
android/capacitor-cordova-android-plugins/*
android/gradle/*
android/app/build/*
android/app/src/main/assets/public/*